@mixin img ( $w , $h , $d, $fd) {
    width: $w;
    height: $h;
    display: $d;
    flex-direction: $fd;
}
@mixin grid ( $grs , $gre , $gcs, $gce) {
    grid-row-start: $grs;
    grid-row-end: $gre;
    grid-column-start: $gcs;
    grid-column-end: $gce;
}